nav{
    background-color: black;
    padding:15px;
  }
  
  nav a{
    margin-right: 15px;
    text-decoration: none;
    color:white;
  }
  
/*     
  nav a:hover{
    background-color: white;
    padding:13px;
    color:black;
  } */

  .active{
    background-color: white;
    padding:13px;
    color:black;
  }